<template>
  <div id="buttons_container">
      <button v-on:click="previous">{{ previousLabel }}</button>
      <button v-on:click="next">{{ nextLabel }}</button>
  </div>
</template>

<script>
export default {
    name: "Buttons",
    data() {
        return {
            previousLabel: "Précédent",
            nextLabel: "Suivant",
            currentMonth: '',
            currentYear: ''
        }
    },
    methods: {
        /**
         * A Configurer
         */
        previous: function() {
            // this.currentYear = (this.currentMonth === 0) ?  this.currentYear : this.currentYear - 1
            // this.currentMonth = this.currentMonth === 0 ? 11 : this.currentMonth - 1
            // showCalendar(this.currentMonth, this.currentYear)
        },
        next: function() {
            // this.currentYear = this.currentMonth === 11 ?  this.currentYear + 1 : this.currentYear
            // this.currentMonth = (this.currentMonth + 1) % 12
            // showCalendar()
        }
    }
}
</script>