<template>
  <div id="calendar_container">
      <h3 class="currentMonthAndYear">{{ displayDate }}</h3>
      <table id="calendar">
          <thead>
              <th>Lun</th>
              <th>Mar</th>
              <th>Mer</th>
              <th>Jeu</th>
              <th>Ven</th>
              <th>Sam</th>
              <th>Dim</th>
          </thead>

          <tbody id="calendar_body">

          </tbody>
      </table>
  </div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data() {
        return {
            today: '',
            currentMonth: '',
            currentYear: '',
            displayDate: '',
            date: 1
        }
    },
    created: function() {
        this.today = new Date()
        this.currentMonth = this.today.getMonth()
        this.currentYear = this.today.getFullYear()
    },
    mounted: function() {
        this.showCalendar(this.currentMonth, this.currentYear)
    },
    methods: {
        showCalendar: function(month, year) {
            let firstDate = new Date(year, month).getDate()
            let daysInMonth = 32 - new Date(year, month, 32).getDate()

            let table = document.getElementById('calendar_body')

            this.displayDate = this.currentMonth + " " + this.currentYear // Ajouter de l'html

            for (let i = 0; i < 6; i++) {
                let row = document.createElement('tr')

                for (let j = 0; j < 7; j++) {
                    let cell = document.createElement('td')
                    if(i === 0 && j < firstDate) {
                        let cellText = document.createTextNode("")
                        cell.appendChild(cellText)
                        row.appendChild(cell)
                    } else if(this.date > daysInMonth) {
                        break;
                    } else {
                        let cellText = document.createTextNode(this.date)
                        cell.appendChild(cellText)
                        row.appendChild(cell)
                    }

                    this.date++
                }
                table.appendChild(row)
            }
        }
    }
}
</script>

<style>

</style>