<template>
  <div id="selecter_container">
      <select name="month" id="month">
          <option v-for="(month, i) in months" :key="i" :value="i + 1" >{{month}}</option>
      </select>
  </div>
</template>

<script>
export default {
    name: "Selecter",
    data() {
        return  {
            months: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"]
        }
    }
}
</script>