<template>
  <div id="app">
    <Selecter />
    <Calendar />
    <Buttons />
  </div>
</template>

<script>
import Calendar from './components/Calendar.vue';
import Selecter from './components/Selecter.vue';
import Buttons from  './components/Buttons.vue';

export default {
  name: 'App',
  components: {
    Calendar,
    Selecter,
    Buttons
  }
}
</script>

